
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:beige;
    
}


.container {
    width: 90%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-image: url('au-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; 
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    color: #ff6600;
}

/* Main Content Section Styles */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:beige;
}

/* Program Grid Styles */
.program-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.program {
    text-align: center;
    padding: 20px;
    background-color: blue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.program img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.program h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
   
}

.program p {
    font-size: 16px;
    color: white;
    line-height: 1;
}

/* Sidebar Styles */
.sidebar {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar p {
    font-size: 14px;
    color: #666;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
